@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  border: 2px solid #cccccc;
  margin: 10px 0;
}

form, .reader {
  max-width: 90%;
  width: 480px;
  margin: 20px auto;
  padding-top: 20px;
}

button.btn {
  display: flex;
  align-items: center;
}

fieldset {
  background: whitesmoke;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.ingredient-row,
.content-row {
  position: relative;
  display: flex;
  align-items: center;
}

.ingredient-row input {
  padding-right: 50px;
}

.ingredient-row button {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  outline: none;
}

.ingredient-row button i {
  color: red;
}

button i + span {
  display: inline-block;
  margin-left: 5px;
}

.ingredient-row button.delete {
  background: red;
  color: white;
}

.ingredient-row button.delete i {
  color: white;
}

h4 {
  margin-bottom: 20px;
}

.add-ingredients {
  text-align: right;
  padding: 3px 0 7px 0;
  display: flex;
  justify-content: flex-end;
}

.content-row {
  text-align: right;
  /* position: absolute;
  right: 0;
  top: -10px; */
}

.content-row input {
  margin-bottom: 10px;
}

.drag-icon {
  margin-right: 10px;
  cursor: move;
}

.content-row textarea {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.demo {
  display: flex;
}

fieldset .form-group:nth-last-child(1) {
  margin-bottom: 0;
}

.content {
  padding: 10px 0 15px 0;
}

.whisk-button {
  margin-top: 40px;
  border: 2px dashed #cccccc;
  text-align: center;
  padding: 30px 0;
  border-radius: 4px;
}

.whisk-button p {
  margin: 0;
  padding: 0;
  color: #cccccc;
}
