@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  border: 2px solid #cccccc;
  margin: 10px 0;
}

form, .reader {
  max-width: 90%;
  width: 480px;
  margin: 20px auto;
  padding-top: 20px;
}

button {
  outline: none !important;
}

fieldset {
  background: whitesmoke;
  padding: 15px 15px 0 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.ingredient-row,
.content-row {
  position: relative;
  display: flex;
  align-items: center;
}

.ingredient-row input {
  padding-right: 50px;
}

.ingredient-row button {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  color: red;
  outline: none;
}

.ingredient-row button i {
  margin-right: 5px;
  color: red;
}

.ingredient-row button.delete {
  background: red;
  color: white;
}

.ingredient-row button.delete i {
  color: white;
}

h4 {
  margin-bottom: 20px;
}

.content-row {
  text-align: right;
  /* position: absolute;
  right: 0;
  top: -10px; */
}

.content-row input {
  margin-bottom: 10px;
}

.drag-icon {
  margin-right: 10px;
  cursor: move;
}

.content-row textarea {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.demo {
  display: flex;
}

fieldset .form-group:nth-last-child(1) {
  margin-bottom: 0;
}

.content {
  padding: 10px 0 15px 0;
}
